*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
    scrollbar-width: none;
}
.wrapper{
    width:100%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.netflix{
    min-height: 200vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
nav{
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
nav img{
    height: 10vh;
    width: 10%;
}
.nav{
    display: flex;
    gap: 30px;
    font-size: 22px;
}
.icons{
    font-size: 20px;
    display: flex;
    gap: 20px;
}
.hero{
    position: relative;
    width: 95%;
    height:70vh;
    border-radius: 50px;
    margin-top: 9vh;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}
video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    left: 2%;
    color: white;
}
.text h1{
    font-size: 75px;
}
.text h3{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}
.text p{
    font-size: 26px;
    font-weight: 100;
}
.butt{
    display: flex;
    gap: 20px;
    margin-top: 2%;
}
.butt button{
    display: flex;
    gap:15px;
    padding: 2%;
    border-radius: 30px;
    font-size: 22px;
}
.but1{
    height: 45px;
    width:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.but2{
    height: 45px;
    background-color: rgb(84, 84, 84);
    color: white;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.but1 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.vdo{
    position: absolute;
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 30vh;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    margin-top: 44%;
}
.vdo h1{
    font-weight: 600;
}
.vdo-container{
    display: flex;
    height: 50vh;
    width: 100%;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.video{
    overflow: hidden;
    display: flex;
    height: 25vh;
    width: 35vh;
    gap: 20px;
    border-radius: 30px;
    flex-shrink: 0;
}
.video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    gap: 20px;
}
.vdo1{
    position: absolute;
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 30vh;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    margin-top: 62%;
}
.vdo1 h1{
    font-weight: 600;
}
.vdo2{
    position: absolute;
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 30vh;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    margin-top: 80%;
}
.vdo2 h1{
    font-weight: 600;
}
